<p>
  <app-add-question></app-add-question>
  
  <!-- Dummy -->
  <br />
  <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar><md-icon>person</md-icon></div>
    <md-card-title>Akash Gupta</md-card-title>
    <md-card-subtitle>KIIT</md-card-subtitle>
    <md-chip-list>
  <md-chip>Education</md-chip>
</md-chip-list>
  </md-card-header>
  <md-card-content>
    <p>
Lorem ipsum dolor sit amet, per te sonet tation. Mea at iusto splendide, sea quaerendum mediocritatem te, facete insolens in vim. Ne vix clita detracto similique. Te eum option iisque, eu option reformidans necessitatibus pri, tollit nostrud offendit qui ne.
    </p>
  </md-card-content>
  <md-card-actions align="center">
  <button md-button color="primary">Agree</button>
    <button md-button color="warn">Disagree</button>
  </md-card-actions>
  </md-card>
  <br />
    <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar><md-icon>person</md-icon></div>
    <md-card-title>Vishal Gupta</md-card-title>
    <md-card-subtitle>ITER</md-card-subtitle>
        <md-chip-list>
  <md-chip>Angular 2</md-chip>
</md-chip-list>
  </md-card-header>
  <md-card-content>
    <p>
Lorem ipsum dolor sit amet, per te sonet tation. Mea at iusto splendide, sea quaerendum mediocritatem te, facete insolens in vim. Ne vix clita detracto similique. Te eum option iisque, eu option reformidans necessitatibus pri, tollit nostrud offendit qui ne.
    </p>
  </md-card-content>
  <md-card-actions align="center">
    <button md-button color="primary">Agree</button>
    <button md-button color="warn">Disagree</button>
  </md-card-actions>
  </md-card>
<p>
